.footer__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__links {
        max-width: 288px;
        flex-direction: column;
        margin: 0 0 48px;
        min-height: 248px;
    }
}